In [2]:
import pandas as pd

In [3]:
df1 = pd.read_csv("2020-2021assists.csv")
df2 = pd.read_csv("2020-2021defensive.csv")
df3 = pd.read_csv("2020-2021passes.csv")
df4 = pd.read_csv("2020-2021possession.csv")
df5 = pd.read_csv("2020-2021shoots.csv")
df6 = pd.read_csv("2020-2021porteros.csv")

### Asistencias

In [4]:
df1.head()

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,SCA,SCA.1,...,GCA,GCA.1,GCA Types,GCA Types.1,GCA Types.2,GCA Types.3,GCA Types.4,GCA Types.5,Unnamed: 24,-additional
0,Rk,Player,Nation,Pos,Squad,Age,Born,90s,SCA,SCA90,...,GCA,GCA90,PassLive,PassDead,Drib,Sh,Fld,Def,Matches,-9999
1,1,Sabit Abdulai,gh GHA,MF,Getafe,21,1999,0.7,0,0.00,...,0,0.00,0,0,0,0,0,0,Matches,9f9e1b9c
2,2,Marcos Acuña,ar ARG,DF,Sevilla,28,1991,25.9,58,2.24,...,4,0.15,2,1,0,1,0,0,Matches,81442ecb
3,3,Bobby Adekanye,nl NED,FWMF,Cádiz,21,1999,0.4,0,0.00,...,0,0.00,0,0,0,0,0,0,Matches,3ed84b2c
4,4,Martin Agirregabiria,es ESP,DFMF,Alavés,24,1996,17.3,23,1.33,...,3,0.17,2,1,0,0,0,0,Matches,355c883a

In [5]:
df1_1 = df1.drop(["Unnamed: 2","Unnamed: 3","Unnamed: 4","Unnamed: 5","Unnamed: 6","Unnamed: 24","-additional"], axis = 1)
df1_1.columns = list(df1_1.iloc[0])
df1_2 = df1_1.drop([0], axis = 0)

### Defensa

In [6]:
df2.head()

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Tackles,Tackles.1,...,Blocks,Blocks.1,Blocks.2,Blocks.3,Unnamed: 27,Unnamed: 28,Unnamed: 29,Unnamed: 30,Unnamed: 31,-additional
0,Rk,Player,Nation,Pos,Squad,Age,Born,90s,Tkl,TklW,...,Blocks,Sh,ShSv,Pass,Int,Tkl+Int,Clr,Err,Matches,-9999
1,1,Sabit Abdulai,gh GHA,MF,Getafe,21,1999,0.7,1,0,...,0,0,0,0,1,2,1,0,Matches,9f9e1b9c
2,2,Marcos Acuña,ar ARG,DF,Sevilla,28,1991,25.9,72,47,...,39,3,0,36,25,97,34,0,Matches,81442ecb
3,3,Bobby Adekanye,nl NED,FWMF,Cádiz,21,1999,0.4,0,0,...,1,0,0,1,0,0,0,0,Matches,3ed84b2c
4,4,Martin Agirregabiria,es ESP,DFMF,Alavés,24,1996,17.3,34,16,...,25,4,1,21,34,68,48,1,Matches,355c883a

In [7]:
df2_1 = df2.drop(["Unnamed: 1","Unnamed: 2","Unnamed: 3","Unnamed: 4","Unnamed: 5","Unnamed: 6","Unnamed: 31","-additional"], axis = 1)
df2_1.columns = list(df2_1.iloc[0])
df2_2 = df2_1.drop([0], axis = 0)

### Pases

In [8]:
df3.head()

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Total,Total.1,...,Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25,Unnamed: 26,Unnamed: 27,Unnamed: 28,Unnamed: 29,Unnamed: 30,-additional
0,Rk,Player,Nation,Pos,Squad,Age,Born,90s,Cmp,Att,...,Ast,xA,A-xA,KP,1/3,PPA,CrsPA,Prog,Matches,-9999
1,1,Sabit Abdulai,gh GHA,MF,Getafe,21,1999,0.7,7,12,...,0,0.0,0.0,0,0,1,0,1,Matches,9f9e1b9c
2,2,Marcos Acuña,ar ARG,DF,Sevilla,28,1991,25.9,1426,1771,...,2,2.8,-0.8,33,110,36,18,122,Matches,81442ecb
3,3,Bobby Adekanye,nl NED,FWMF,Cádiz,21,1999,0.4,7,10,...,0,0.0,0.0,0,0,0,0,0,Matches,3ed84b2c
4,4,Martin Agirregabiria,es ESP,DFMF,Alavés,24,1996,17.3,520,727,...,1,0.9,+0.1,12,40,16,8,45,Matches,355c883a

In [9]:
df3_1 = df3.drop(["Unnamed: 1","Unnamed: 2","Unnamed: 3","Unnamed: 4","Unnamed: 5","Unnamed: 6","Unnamed: 30","-additional"], axis = 1)
df3_1.columns = list(df3_1.iloc[0])
df3_2 = df3_1.drop([0], axis = 0)

### Posesion

In [10]:
df4.head()

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Touches,Touches.1,...,Carries.4,Carries.5,Carries.6,Carries.7,Receiving,Receiving.1,Receiving.2,Receiving.3,Unnamed: 32,-additional
0,Rk,Player,Nation,Pos,Squad,Age,Born,90s,Touches,Def Pen,...,1/3,CPA,Mis,Dis,Targ,Rec,Rec%,Prog,Matches,-9999
1,1,Sabit Abdulai,gh GHA,MF,Getafe,21,1999,0.7,17,0,...,1,0,0,0,10,8,80.0,1,Matches,9f9e1b9c
2,2,Marcos Acuña,ar ARG,DF,Sevilla,28,1991,25.9,2027,73,...,34,8,33,33,1437,1356,94.4,56,Matches,81442ecb
3,3,Bobby Adekanye,nl NED,FWMF,Cádiz,21,1999,0.4,18,1,...,2,1,4,0,14,12,85.7,4,Matches,3ed84b2c
4,4,Martin Agirregabiria,es ESP,DFMF,Alavés,24,1996,17.3,883,48,...,8,2,8,9,501,425,84.8,19,Matches,355c883a

In [11]:
df4_1 = df4.drop(["Unnamed: 1","Unnamed: 2","Unnamed: 3","Unnamed: 4","Unnamed: 5","Unnamed: 6","Unnamed: 32","-additional"], axis = 1)
df4_1.columns = list(df4_1.iloc[0])
df4_2 = df4_1.drop([0], axis = 0)

### Tiros

In [12]:
df5.head()

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Standard,...,Standard.8,Performance,Performance.1,Expected,Expected.1,Expected.2,Expected.3,Expected.4,Unnamed: 25,-additional
0,Rk,Player,Nation,Pos,Squad,Age,Born,90s,Gls,Sh,...,FK,PK,PKatt,xG,npxG,npxG/Sh,G-xG,np:G-xG,Matches,-9999
1,1,Sabit Abdulai,gh GHA,MF,Getafe,21,1999,0.7,0,0,...,0,0,0,0.0,0.0,NaN,0.0,0.0,Matches,9f9e1b9c
2,2,Marcos Acuña,ar ARG,DF,Sevilla,28,1991,25.9,1,18,...,0,0,0,1.1,1.1,0.06,-0.1,-0.1,Matches,81442ecb
3,3,Bobby Adekanye,nl NED,FWMF,Cádiz,21,1999,0.4,0,1,...,0,0,0,0.2,0.2,0.17,-0.2,-0.2,Matches,3ed84b2c
4,4,Martin Agirregabiria,es ESP,DFMF,Alavés,24,1996,17.3,0,2,...,0,0,0,0.2,0.2,0.10,-0.2,-0.2,Matches,355c883a

In [13]:
df5_1 = df5.drop(["Unnamed: 1","Unnamed: 2","Unnamed: 3","Unnamed: 4","Unnamed: 5","Unnamed: 6","Unnamed: 25","-additional"], axis = 1)
df5_1.columns = list(df5_1.iloc[0])
df5_2 = df5_1.drop([0], axis = 0)

### Portero

In [14]:
df6.head()

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Playing Time,Playing Time.1,Playing Time.2,...,Unnamed: 18,Performance.5,Performance.6,Performance.7,Penalty Kicks,Penalty Kicks.1,Penalty Kicks.2,Penalty Kicks.3,Unnamed: 26,-additional
0,Rk,Player,Nation,Pos,Squad,Age,Born,MP,Starts,Min,...,L,CS,CS%,PKatt,PKA,PKsv,PKm,Save%,Matches,-9999
1,1,Ángel,es ESP,GK,Granada,18,2002,1,1,90,...,1,0,0.0,2,1,1,0,50.0,Matches,b1e5bbec
2,2,Sergio Asenjo,es ESP,GK,Villarreal,31,1989,36,36,3240,...,8,10,27.8,9,7,1,1,12.5,Matches,9f0ea33f
3,3,Édgar Badía,es ESP,GK,Elche,28,1992,30,30,2700,...,14,5,16.7,9,5,3,1,37.5,Matches,e4346678
4,4,Rubén Blanco,es ESP,GK,Celta Vigo,25,1995,19,19,1637,...,6,4,21.1,1,1,0,0,0.0,Matches,967f34d3

In [15]:
df6_1 = df6.drop(["Unnamed: 1","Unnamed: 2","Unnamed: 3","Unnamed: 4","Unnamed: 5","Unnamed: 6","Unnamed: 26","-additional"], axis = 1)
df6_1.columns = list(df6_1.iloc[0])
df6_2 = df6_1.drop([0], axis = 0)

In [16]:
df = pd.concat([df1_2,df2_2,df3_2,df4_2,df5_2], axis = 1)

In [17]:
#df_names = df[['NAME']]
##df[df['NAME']=="Sergio"]

In [18]:
#df_names.to_excel('nombres_stats_2020_2021.xlsx')

In [19]:
def normalize(s):
    replacements = (
        ("á", "a"),
        ("é", "e"),
        ("í", "i"),
        ("ó", "o"),
        ("ú", "u"),
    )
    for a, b in replacements:
        s = s.replace(a, b).replace(a.upper(), b.upper())
    return s

In [20]:
##Le quito las tildes
#LISTA = df["NAME"].to_list()
#for i in range(len(LISTA)):
#    LISTA[i] = normalize(LISTA[i])
#df["NAME"] = LISTA

In [21]:
valoraciones_2022 = pd.read_csv("Valoraciones_2022.csv")
valoraciones_2022 = valoraciones_2022.drop(['Unnamed: 0'],axis = 1)
valoraciones_2022.columns = ["Player", "VAL"] #Para que la columna de nombres se llame igual
df = df.merge(valoraciones_2022, how = "inner",on = "Player")
df.to_csv("2020-2021_datos_full.csv")