In [1]:
import pandas as pd

In [2]:
df1 = pd.read_csv("2021-2022assists.csv")
df2 = pd.read_csv("2021-2022defensive.csv")
df3 = pd.read_csv("2021-2022passes.csv")
df4 = pd.read_csv("2021-2022possession.csv")
df5 = pd.read_csv("2021-2022shoots.csv")
df6 = pd.read_csv("2021-2022porteros.csv")

### Asistencias

In [3]:
df1_1 = df1.drop(["Unnamed: 6","Unnamed: 24","-additional", 'SCA Types', 'SCA Types.1','SCA Types.2','SCA Types.3','SCA Types.4','SCA Types.5','GCA Types', 'GCA Types.1','GCA Types.2','GCA Types.3','GCA Types.4','GCA Types.5' ], axis = 1)
df1_1.columns = ['ID', 'NAME', 'NATION', 'POSITION', 'TEAM', 'AGE', '90S', 'SCA','SCA90','GCA','GCA90']
df1_2 = df1_1.drop([0], axis = 0)

### Defensa

In [4]:
df2_1 = df2.drop(['Unnamed: 6','Tackles.2', 'Tackles.3','Tackles.4','Vs Dribbles.1','Vs Dribbles.3','Pressures.1','Pressures.3','Pressures.4','Pressures.5','Blocks.1','Blocks.2','Blocks.3', 'Unnamed: 28', 'Unnamed: 29', 'Unnamed: 30', 'Unnamed: 31', '-additional'], axis = 1)
df2_1.columns = ['ID', 'NAME', 'NATION', 'POSITION', 'TEAM', 'AGE', '90S', 'TACKLES','TACKLESWIN','VSDRIBLETACKLE','%VSDRIBLETACKLE', 'PRESSURE', '%PRESSUREWIN', 'BLOCKS', 'INTERCEPTIONS']
df2_2 = df2_1.drop([0], axis = 0)

### Pases

In [5]:
df3_1 = df3.drop(['Unnamed: 6','Total.1', 'Total.3','Total.4','Short','Short.1','Short.2','Medium','Medium.1','Medium.2','Long','Long.1','Long.2','Unnamed: 23','Unnamed: 24','Unnamed: 26','Unnamed: 27', 'Unnamed: 28', 'Unnamed: 29', 'Unnamed: 30', '-additional'], axis = 1)
df3_1.columns = ['ID', 'NAME', 'NATION', 'POSITION', 'TEAM', 'AGE', '90S', 'TOTALPASSES','%TOTALPASSES','ASSIST','SHOTPASSES']
df3_2 = df3_1.drop([0], axis = 0)

### Posesion

In [6]:
df4_1 = df4.drop(['Unnamed: 6','Touches.1', 'Touches.2','Touches.3','Touches.4','Touches.5','Touches.6','Dribbles.1','Dribbles.3','Dribbles.4','Carries','Carries.2','Carries.3','Carries.4','Carries.5','Carries.6','Carries.7','Receiving.1','Receiving','Receiving.2','Receiving.3', 'Unnamed: 32', '-additional'], axis = 1)
df4_1.columns = ['ID', 'NAME', 'NATION', 'POSITION', 'TEAM', 'AGE', '90S', 'TOTALTOUCHES','TOTALDRIBBLES','%TOTALDRIBBLES','DISTANCE']
df4_2 = df4_1.drop([0], axis = 0)

### Tiros

In [7]:
df5_1 = df5.drop(['Unnamed: 6','Standard.2', 'Standard.3','Standard.4','Standard.5','Standard.6','Standard.7','Performance','Performance.1','Expected','Expected.1','Expected.2','Expected.3','Expected.4', 'Unnamed: 25', '-additional'], axis = 1)
df5_1.columns = ['ID', 'NAME', 'NATION', 'POSITION', 'TEAM', 'AGE', '90S', 'GOALS','SHOTS','SHOTSONTARGET','FREEKICKS']
df5_2 = df5_1.drop([0], axis = 0)

### Porteros

In [8]:
df6_1 = df6.drop(['Unnamed: 6','Playing Time', 'Playing Time.1','Playing Time.2','Performance.1','Performance.4','Unnamed: 16','Unnamed: 17','Unnamed: 18','Performance.5','Performance.6','Performance.7','Penalty Kicks.2','Penalty Kicks.3', 'Unnamed: 26', '-additional'], axis = 1)
df6_1.columns = ['ID', 'NAME', 'NATION', 'POSITION', 'TEAM', 'AGE', '90S', 'GOALSAGAINST','SHOTSONTARGETAGAINST','SAVES', 'PENALTYALLOWED', 'PENALTYSAVED']
df6_2 = df6_1.drop([0], axis = 0)

In [9]:
df = pd.concat([df1_2,df2_2[df2_2.columns[-8:]],df3_2[df3_2.columns[-4:]],df4_2[df4_2.columns[-4:]],df5_2[df5_2.columns[-4:]]], axis = 1)

In [10]:
df.head(10)

,ID,NAME,NATION,POSITION,TEAM,AGE,90S,SCA,SCA90,GCA,...,ASSIST,SHOTPASSES,TOTALTOUCHES,TOTALDRIBBLES,%TOTALDRIBBLES,DISTANCE,GOALS,SHOTS,SHOTSONTARGET,FREEKICKS
1,1,Luis Abram,pe PER,DF,Granada,25,6.2,3,0.48,1,...,0,0,290,0,NaN,803,0,2,0,0
2,2,Marcos Acuña,ar ARG,DF,Sevilla,29,25.1,66,2.63,3,...,3,41,2208,45,69.2,7355,1,17,5,1
3,3,Martin Agirregabiria,es ESP,DF,Alavés,25,18.0,26,1.45,2,...,1,14,975,14,73.7,1840,0,5,0,0
4,4,Julen Agirrezabala,es ESP,GK,Athletic Club,20,4.0,0,0.00,0,...,0,0,95,0,NaN,159,0,0,0,0
5,5,Sergio Agüero,ar ARG,FW,Barcelona,33,1.7,3,1.79,0,...,0,1,59,1,100.0,237,1,6,1,0
6,6,Álvaro Aguirre,es ESP,FW,Rayo Vallecano,21,0.1,0,0.00,0,...,0,0,3,0,NaN,2,0,0,0,0
7,7,Joseph Aidoo,gh GHA,DF,Celta Vigo,25,29.3,13,0.44,2,...,0,3,1818,8,80.0,7054,0,6,1,0
8,8,Carlos Akapo,gq EQG,DF,Cádiz,28,20.5,24,1.17,1,...,0,9,1091,12,57.1,3211,0,10,1,0
9,9,Ilias Akhomach,es ESP,FW,Barcelona,17,1.4,7,5.08,0,...,0,3,71,1,33.3,274,0,4,2,0
10,10,Paul Akouokou,ci CIV,MF,Betis,23,5.7,6,1.05,0,...,0,3,380,6,66.7,950,0,2,0,0

In [11]:
df[df["NAME"] == "Óscar Plano"]

Empty DataFrame
Columns: [ID, NAME, NATION, POSITION, TEAM, AGE, 90S, SCA, SCA90, GCA, GCA90, TACKLES, TACKLESWIN, VSDRIBLETACKLE, %VSDRIBLETACKLE, PRESSURE, %PRESSUREWIN, BLOCKS, INTERCEPTIONS, TOTALPASSES, %TOTALPASSES, ASSIST, SHOTPASSES, TOTALTOUCHES, TOTALDRIBBLES, %TOTALDRIBBLES, DISTANCE, GOALS, SHOTS, SHOTSONTARGET, FREEKICKS]
Index: []

[0 rows x 31 columns]

In [12]:
def normalize(s):
    replacements = (
        ("á", "a"),
        ("é", "e"),
        ("í", "i"),
        ("ó", "o"),
        ("ú", "u"),
    )
    for a, b in replacements:
        s = s.replace(a, b).replace(a.upper(), b.upper())
    return s

In [13]:
#Le quito las tildes
LISTA = df["NAME"].to_list()
for i in range(len(LISTA)):
    LISTA[i] = normalize(LISTA[i])
df["NAME"] = LISTA

In [14]:
valoraciones_2023 = pd.read_csv("Valoraciones_2023.csv")
valoraciones_2023 = valoraciones_2023.drop(['Unnamed: 0'],axis = 1)
valoraciones_2023.columns = ["NAME", "VAL"] #Para que la columna de nombres se llame igual
df = df.merge(valoraciones_2023, how = "inner",on = "NAME")
df.to_csv("2021-2022_datos.csv")